/* Ogólne style tła strony */

/* Stylizacja kontenera */
.container {
  z-index: 1;
}

/* Stylizacja formularza */
.form-login {
  max-width: 400px;
  margin: 20px auto;
}

/* Stylizacja karty formularza */
.card {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 1rem;
  padding-bottom: 3rem;
}

/* Stylizacja przycisków */
.btn-primary {
  background-color: #2487ce;
  border-color: #2487ce;
}

.btn-primary:hover {
  background-color: #3194db;
  border-color: #3194db;
}

/* Dodatkowe style dla formularza */
.form-group label {
  font-weight: bold;
}

.form-group input {
  margin-bottom: 10px; /* Odstęp między polami formularza */
}

/* Stylizacja przycisku powrotu */
.back-button {
  padding-bottom: 20px;
}

.back-button:hover {
  color: #0056b3;
}
