<div class="form-outside">
    <div class="form-inside form-laduj">
        <p class="popup-section-title">Dodaj nowy ładunek:</p>
        <form action="trasy" method="POST" class="form-form">
             {% csrf_token %}
             <div class="form-form-inside">
                 <label>Pojazd:</label>
                 <input class="form-intext" type="text" placeholder="Wpisz pojazd..." name="pojazd"/>
             </div>
             <div class="form-form-inside">
                 <label>Masa:</label>
                 <input class="form-intext" type="text" placeholder="Wpisz masę..." name="masa"/>
             </div>
             <div class="form-form-inside">
                 <label>Stan pojazdu:</label>
                 <div>
                     <input type="radio" id="nowy" name="stan" value="N"/>
                     <label for="nowy">Nowy</label><br>
                     <input type="radio" id="uzywany" name="stan" value="U"/>
                     <label for="uzywany">Używany</label>
                 </div>
             </div>
             <div style="display: grid; grid-template-columns: 4fr 5fr;">
                 <button style="width: 90%;" type="submit" name="dodaj_ladunek" value="dod">Dodaj</button>
                     <button style="width: 90%;" type="submit" name="dodaj_ladunek" value="wyb">Dodaj<br>i wybierz</button>
             </div>
        </form>
    </div>
</div>