<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TRANSPORT</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>
<div class="background-overlay"></div>
{% if user.is_authenticated %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="row justify-content-center">
       <div class="col-xl-12 text-center" >
         {% if user.is_authenticated %}
         <h1 class="logo">Witaj, {{user.username}}</h1>
         {% endif %}
       </div>
      </div>


      <nav id="navbar" class="navbar">
        <ul>


          {% if user.is_authenticated %}

          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="trasy">Trasy</a></li>
          <li><a class="nav-link scrollto" href="kierowcy">Kierowcy</a></li>
          <li><a class="nav-link scrollto o" href="pojazd">Pojazdy</a></li>
          <li><a class="getstarted scrollto" href="logout">Wyloguj</a></li>

          {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
{% endif %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center pt-5 mt-5">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center pt-3">
          <a href="/"><img src="{% static 'assets/img/logo-transport.png' %}" alt="Logo Transport" class="logo-img">
          <h1 class="logo-header">Transport 24h</h1></a>
          <h2>Twoja strona do pracy</h2>
        </div>
      </div>


      <div class = "row icon-boxes text-center justify-content-center">
        {% if user.is_authenticated %}
        {% for feature in features %}
        <div style="width: 20%" class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
            <div class="icon-box feature-box-{{ forloop.counter }}">
              <a href={{feature.url}}><div class="icon-box-bg"></div></a>
             <a href={{feature.url}} class="text-white"> <div class="icon"><i class="feature-icon-{{ forloop.counter }}"></i></div></a>
              <h4 class="title"><a href={{feature.url}} class="text-white">{{feature.name}}</a></h4>
              <p class="description">{{feature.details}}</p>
            </div>
        </div>
        {% endfor %}
        {% else %}

        <div class="login-container mx-auto mt-4">
          <h4 class="title"><a href="login" class="btn btn-lg btn-primary w-100">Zaloguj</a></h4>
          <h4 class="title"><a href="register" class="btn btn-lg btn-primary w-100">Zarejestruj</a></h4>
        </div>
        {% endif %}

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">


  </main><!-- End #main -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>