<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'assets/css/style2.css' %}" rel="stylesheet">
</head>
<body>

    <form method="POST" action="trasy">
        {% csrf_token %}
        <p>Zleceniodawca:</p>
        <input type="zleceniodawca" name="zleceniodawca"/><button onclick="window.open('zleceniodawca','_blank','popup');">+</button>
        <p>Ładunek:</p>
        <select id="ladunek-sel" name="ladunek" class="select-database">
            <optgroup label="Marka | Masa pojazdu | Stan">
            {% for ladunek in ladunki %}
            <option value={{ladunek.id_ladunek}}>{{ladunek.pojazd}} | {{ladunek.masa}} | {{ladunek.stan}}</option>
            {% endfor %}
            </optgroup>
            <option value="">Dodaj nowy ładunek...</option>
        </select><button onclick="window.open('ladunek','_blank','popup, width=900, height=500, top=150, left=200');">+</button>
        <form method="POST" action="trasy">
            {% csrf_token %}
            <button type="submit" name="ladunki" value="1">Popup</button>

            <!--            <button id="myButton" type="button">-->
<!--              Click me-->
<!--            </button>-->
        </form>
        <p>Początek:</p>
        <input type="poczatek" name="poczatek"/><button onclick="window.open('zleceniodawca','_blank','popup');">+</button>
        <p>Destynacja:</p>
        <input type="destynacja" name="destynacja"/><button onclick="window.open('zleceniodawca','_blank','popup');">+</button>
        <p>Kierowca:</p>
        <input type="kierowca" name="kierowca"/>
        <p>Przychod:</p>
        <input type="przychod" name="przychod"/>
        <input type="submit" name="ftrasa"/>
    </form>

    {% if ladunki_popup %}
        <div id="myPopup" class="popup">
            <div class="popup-content">
                {% include 'dodawanie_ladunku.html' %}
                {% include 'wyswietlanie_ladunkow.html' %}
            </div>
        </div>
    {% endif %}



    <script>
<!--        function changeListener(){-->
<!--          var value = this.value-->
<!--            console.log(value);-->

<!--            if (value == ""){-->
<!--              myPopup.classList.add("show");-->
<!--            }-->

<!--        }-->
    </script>
</body>
</html>