<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'assets/css/style2.css' %}" rel="stylesheet">
</head>
<body>
    {% block test %}

    {% endblock %}
    <form action="trasy" method="POST">
        {% csrf_token %}
        <button type="submit" name="test">TEST</button>
    </form>
    <div class="trasy-form-outside">
        <form method="POST" action="trasy" class="trasy-form-form">
            {% csrf_token %}
            <div>
                <p>Zleceniodawca:</p>
                <input type="text" name="zleceniodawca"/><button onclick="window.open('zleceniodawca','_blank');">+</button>
            </div>
            <div>
                <p>Ładunek:</p>
                <textarea readonly name="ladunek" class="textarea-selected-object">{% if sel_ladunek %}{{sel_ladunek.pojazd}} | {{sel_ladunek.masa}} kg | {{sel_ladunek.stan_read}}{% else %}{% endif %}</textarea>
<!--                <form method="POST" action="trasy">-->
<!--                    {% csrf_token %}-->
                    <button type="submit" name="popup" value="2">Dodaj nowy/wybierz ładunek</button>
<!--                </form>-->
            </div>
            <div>
                <p>Początek:</p>
                <input type="text" name="poczatek"/><button onclick="window.open('poczatek','_blank','popup');">+</button>
            </div>
            <div>
                <p>Destynacja:</p>
                <input type="text" name="destynacja"/><button onclick="window.open('destynacja','_blank','popup');">+</button>
            </div>
            <div>
                <p>Kierowca:</p>
                <input type="text" name="kierowca"/>
            </div>
            <div>
                <p>Przychod:</p>
                <input type="text" name="przychod"/>
            </div>
            <div>
                <input type="submit" name="ftrasa"/>
            </div>
        </form>
    </div>

    {% if popup %}
        <div id="myPopup" class="popup">
            <div class="popup-content">
                <div style="display: flex; justify-content: flex-end; position: relative; top: -10px; right: -10px;">
                    <form method="POST" action="trasy" style="position: absolute; width: 24px; height: 24px;">
                        {% csrf_token %}
                        <button type="submit" name="ladunki" value="0" style="width: 100%; height: 100%; border-radius: 6px;">X</button>
                    </form>
                </div>
                {% if popup == 2 %}
                    {% include 'dodawanie_ladunku.html' %}
                    {% include 'wyswietlanie_ladunkow.html' %}
                {% endif %}
            </div>
        </div>
    {% endif %}
</body>
</html>