<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'assets/css/style2.css' %}" rel="stylesheet">
</head>
<body>
    {% block test %}

    {% endblock %}
    <form action="trasy" method="POST">
        {% csrf_token %}
        <button type="submit" name="test">TEST</button>
    </form>
    <div class="trasy-form-outside">
        <form method="POST" action="trasy" class="trasy-form-form">
            {% csrf_token %}
             <div>
                <p>Data:</p>
                <input type="text" name="data"/>
            </div>
            <div>
                <p>Zleceniodawca:</p>
                <textarea readonly id="sel-zlec" name="zleceniodawca" class="textarea-selected-object" id="selected-zlec-ta">{% if sel_zlec %}{{sel_zlec.nazwa}} | {{sel_zlec.nip}} kg | {{sel_zlec.regon}} | {{sel_zlec.telefon}}{% else %}{% endif %}</textarea>
<!--                <form method="POST" action="trasy">-->
<!--                    {% csrf_token %}-->
                    <button type="button" id="zlec-btn" class="zlec popup-open-btn">Dodaj nowy/wybierz zleceniodawce</button>
<!--                </form>-->
            </div>
            <div>
                <p>Ładunek:</p>
                <textarea readonly id="sel-ladunek" name="ladunek" class="textarea-selected-object">{% if sel_ladunek %}{{sel_ladunek.pojazd}} | {{sel_ladunek.masa}} kg | {{sel_ladunek.stan_read}}{% else %}{% endif %}</textarea>
                    <button type="button" id="ladunek-btn" class="ladunek popup-open-btn">Dodaj nowy/wybierz ładunek</button>
            </div>
            <div>
                <p>Początek:</p>
                <input type="text" name="poczatek"/><button onclick="window.open('poczatek','_blank','popup');">+</button>
            </div>
            <div>
                <p>Destynacja:</p>
                <input type="text" name="destynacja"/><button onclick="window.open('destynacja','_blank','popup');">+</button>
            </div>
            <div>
                <p>Kierowca:</p>
                <input type="text" name="kierowca"/>
            </div>
            <div>
                <p>Przychod:</p>
                <input type="text" name="przychod"/>
            </div>
            <div>
                <input type="submit" name="ftrasa"/>
            </div>
        </form>
    </div>

    <div id="zlecPopup" class="popup">
        <div class="popup-content">
            <div style="display: flex; justify-content: flex-end; position: relative; top: -10px; right: -10px;">
<!--                <form method="POST" action="trasy" style="position: absolute; width: 24px; height: 24px;">-->
<!--                    {% csrf_token %}-->
                    <button type="button" class="zlec-popup-close">X</button>
<!--                </form>-->
            </div>
            {% include "dodawanie_zleceniodawcy.html" %}
            {% include "wyswietlanie_zleceniodawcow.html" %}
        </div>
    </div>

    <div id="ladunekPopup" class="popup">
        <div class="popup-content">
            <div style="display: flex; justify-content: flex-end; position: relative; top: -10px; right: -10px;">
<!--                <form method="POST" action="trasy" style="position: absolute; width: 24px; height: 24px;">-->
<!--                    {% csrf_token %}-->
                    <button type="button" class="lad-popup-close">X</button>
<!--                </form>-->
            </div>
            {% include "dodawanie_ladunku.html" %}
            {% include "wyswietlanie_ladunkow.html" %}
        </div>
    </div>



    <div class="objects-list-outside">
        <h2 style="position: relative; left: 15px">Wszystkie Trasy:</h2>
        <div class="objects-list-inside">
            <div class="objects-list-item">
                <div class="objects-list-item-content"><div class="olic-child"><b>Data</b></div><div class="olic-child"><b>Zleceniodawca</b></div><div class="olic-child"><b>Ładunek</b></div><div class="olic-child"><b>Poczatek</b></div><div class="olic-child"><b>Destynacja</b></div><div class="olic-child"><b>Kierowca</b></div><div class="olic-child"><b>Przychód</b></div></div>
            </div>
            {% for trasa in database.tras_obj %}
                <div class="objects-list-item">
                    <div class="objects-list-item-content"><div class="olic-child">{{trasa.data}}</div><div class="olic-child">{{trasa.zlec.nazwa}}</div><div class="olic-child">{{trasa.lad.pojazd}}</div><div class="olic-child">{{trasa.pocz.adres}}</div><div class="olic-child">{{trasa.kierow.imie}}</div></div>
                    <div><form action="trasy" method="post" style="display: flex; justify-content: space-around;">{% csrf_token %}<button type="submit" name="edytuj_ladunek" value={{ladunek.id_ladunek}} style="width: 1.5em; height: 1.5em;">E</button><button type="submit" name="usun_ladunek" value={{ladunek.id_ladunek}} style="width: 1.5em; height: 1.5em;">U</button></form></div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'assets/js/trasy.js' %}"></script>


</body>
</html>