<div class="objects-list-outside">
    <h2 style="position: relative; left: 15px">Wszystkie ładunki:</h2>
    <div class="objects-list-inside">
        <div class="objects-list-item">
            <div class="objects-list-item-content"><div class="olic-child"><b>Pojazd</b></div><div class="olic-child"><b>Masa</b></div><div class="olic-child"><b>Stan</b></div></div>
        </div>
        {% for ladunek in database.ladunki_obj %}
            <div class="objects-list-item">
                <div class="objects-list-item-content"><div class="olic-child">{{ladunek.pojazd}}</div><div class="olic-child">{{ladunek.masa}} kg</div><div class="olic-child">{{ladunek.stan_read}}</div></div>
                <div><form action="trasy" method="post" style="display: flex; justify-content: space-around;">{% csrf_token %}<button type="button" class="wybierz_ladunek" name="wybierz_ladunek" value={{ladunek.id_ladunek}} style="margin-right: 25px;">Wybierz</button><button type="submit" name="usun_ladunek" value={{ladunek.id_ladunek}} style="width: 72px;">Usuń</button></form></div>
            </div>
        {% endfor %}
    </div>
</div>