<!-- WYSWIETLANIE ZLECENIODAWCOW -->
    <div class="objects-list-outside">
        <h1 style="position: relative; left: 15px">Wszyscy zleceniodawcy:</h1>
        <div class="objects-list-inside">
            <div class="objects-list-item">
                <div class="objects-list-item-content"><div class="olic-child"><b>Zleceniodawca</b></div><div class="olic-child"><b>NIP</b></div><div class="olic-child"><b>REGON</b></div><div class="olic-child"><b>telefon</b></div></div>
            </div>
            {% for zleceniodawca in database.zlec_obj %}
                <div class="objects-list-item">
                    <div class="objects-list-item-content"><div class="olic-child">{{zleceniodawca.nazwa}}</div><div class="olic-child">{{zleceniodawca.nip}}</div><div class="olic-child">{{zleceniodawca.regon}}</div><div class="olic-child">{{zleceniodawca.telefon}}</div></div>
                    <div style="display: flex; justify-content: space-around;"><button type="submit" name="wybierz_zleceniodawce" value={{zleceniodawca.id_zleceniodawca}} style="width: 1.5em; height: 1.5em;">W</button><button type="button" style="width: 55px;">Edytuj</button><form action="zleceniodawca" method="post">{% csrf_token %}<button type="submit" name="usun_zleceniodawce" value={{zleceniodawca.id_zleceniodawca}} style="width: 55px;">Usuń</button></form></div>
                </div>
            {% endfor %}
        </div>
    </div>