<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link href="{% static 'assets/css/style2.css' %}" rel="stylesheet">
</head>
<body>
    {% for message in messages %}
        <h3>{{message}}</h3>
    {% endfor %}
    <div class="form-outside">
        <form action="zleceniodawca" method="POST" class="form-form">
            {% csrf_token %}
            <p>Zleceniodawca:</p>
            <input type="text" placeholder="nazwa" name="nazwa"/>
            <input type="text" placeholder="NIP" name="nip"/>
            <input type="text" placeholder="REGON" name="regon"/>
            <input type="text" placeholder="telefon" name="telefon"/>
            <input type="submit" name="dodaj_zleceniodawce"/>
        </form>
    </div>


</body>
</html>